
#wen-ic-progress.ui-progressbar {
	background: #CCC;
	height: 30px;
	border-radius: 5px;
	margin-top: 20px;
	border: 1px solid #222;
	display:none;
}
#wen-ic-progress.ui-progressbar .ui-progressbar-value {
	background: #555;
	height: 100%;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	transition:width .5s ease;
	-webkit-transition:width .5s ease;
	-moz-transition:width .5s ease;
}

#wen-ic-progress-status {
	font-weight:bold;
}
#wen-ic-progress-status>p {
	padding:10px;
	background:#FFF;
	border:1px solid #CECECE;
}
#wen-ic-progress-status>p.task-done {
	cursor:pointer;
}
#wen-ic-progress-status>p>em {
	float:right;
	color:#979797;
}